@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&display=swap');

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-primary: "Josefin Sans";
  --color-primary: #320080;
  --color-dark: #3B0764;
  --color-lighter: #EDE9FE;
  --color-light: #DDD6FE;
  --color-normalbg: #f3f4f6;
  --color-darkbg: #121826;
}

